{% extends 'base.html.twig' %}

{% block body %}

    <div class="container productos">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Usuarios</span>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <button class="btn color" type="submit">Guardar</button>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
